/* header related style */
.header{
    width: 1320px;
height: 600px;
flex-shrink: 0;

}
.header{
    margin: 40px 0px;
    position: relative;
    border-radius: 10px;
    background-image: url('../image/BannerImage.png');
   



}
.banner-titel{
    color: #FFF;
text-align: center;
font-family: Merriweather;
font-size: 32px;
font-weight: 400;
padding-top: 180px;
background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);



}
.banner-ground{
    color: #FFF;
text-align: center;
font-size: 72px;
font-weight: 800;
line-height: 95px;
padding: 5px;
background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);


}
.font{
    width:1200px;
height: 800px;
text-align: center;
}
.discount{
color: #FF0000;
text-align: center;
font-family: Inter;
font-size: 50px;
font-weight: 800;
line-height: normal;
gap: 0px;
}
.offer{
color: #FF0000;
text-align: center;
font-size: 10px;
font-family: normal;
font-weight: 500;
gap: 2px;
}
.calecson{
 color: #070211;
text-align: center;
font-size: 25px;
font-family: normal;
font-weight: 700;
gap: 5px;
}
.NewYear{
    width: 802.9px;
height: 500px;
flex-shrink: 0;

}
.section1{
    margin-top: 120;
    background-image: url('../image/Vectorrr.png');
    background-repeat: no-repeat;
    background-position: cover;
    background-position: 5%;
    border-radius: 14px;
    padding: 2%;
    margin-left: 160px;
    margin-right: 70px;
    width: 1000px;
height: 600px;
justify-content: center;

}

.second-font{
 width: 300px;
 height: 50px;
 background: linear-gradient(90deg,#070211 0%);
 padding: 5%;
 margin-left: 70px;
 margin-top: -25px;
 background-position: center;
 gap: 0px;

 
}
.image{
    width: 200px;
    height: 100px;
    flex-shrink: 0;
    margin-top: 0px;
    margin-left: 0%;
    margin-right: 8opx;
    /*background-image: url('/image/Group\ 70.png');*/
/*background-repeat: no-repeat;*/
 /*background-position: bottom right;*/
}

.fist{
    text-align: left;
    color: #FFFFFF;

font-family: Merriweather;
font-size: 50px;
font-style: normal;
font-weight: 500px;
line-height: 70px; 
letter-spacing: 7.04px;
display: flex;
margin: 0 auto;
width: 20%;
/*align-items: center;*/
/*justify-content: space-between;*/


}
.second{
    color: #FFFFFF;

font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px;
display: flex;
margin: 0 auto;
align-items: flex-start;
/*align-items: center;*/
/*justify-content: space-between;*/
}
.BETTER{
    margin-top: 40px;
    display: inline-flex;
    padding: 16px 32px;
    justify-content: center;
    gap: 10px;
    color: rgb(237, 223, 223);
    background-color: #F00;
    text-align: center;
    font-family:'Inter',sans-serif ;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    border: none;
    margin-left: 50%;
    width: 150px;
    height: 60px;
    border-radius: 10px;
    

text-align: center;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 700;

}
.grp-png{
    width: 400px;
    height: 200px;
    margin-top: 150px;
    margin-left: 55%;
    margin-right: 90%;
}
.seocnd{
    color: #ebe5e5;
}


/*thurt sytle*/
.thurt{
background: #e08383;
width: 800px;
height: 200px;
flex-shrink: 0;
margin: 0 auto;
gap: 10px;
border: #FFF;
text-align: center;
padding:5% ;
margin-left: 200px;
margin-right: 40px;



}

.Place{
text-align: center;
font-family: Inter;
font-size: 25px;
font-style: normal;
font-weight: 400;
line-height: 56px; 
/*text-transform: capitalize;*/
width: 500px;
height: 24px;

}
.date{
    text-align: center;
    font-family: Inter;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: 56px; 
    /*text-transform: capitalize;*/
    width: 500px;
    height: 24px;
}
.time{
    text-align: center;
    font-family: Inter;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: 56px; 
    /*text-transform: capitalize;*/ 
    width: 500px;
    height: 24px;
}
.only-place{
    color: #780707;
}
.only-date{
    color: #780707;  
}
.only-time{
    color: #780707; 
}

.btn{
    color: #ebe1e1;
background-color: #780707;
text-align: center;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 800;
line-height: normal;
text-transform: uppercase;
margin-left: 20px;
margin-right:30px ;
gap: 50%;
border-radius: 10px;
margin-top: 3%;
}
.column{
    float: inline-end;
    width: 20%;
    padding: 30px 20px;
    object-fit: cover;
    cursor: pointer;
    margin: 0px 40px;
    margin-right: 30px;
    margin-left: 60px;
    padding: 2%;
    
}
.row{
    
    display: table;
    clear: both;
    margin: 10px 40px;
}
.BEST{
    width: 190px;
    height: 25px;
    color: #F00;
font-size: 20px;
font-weight: 400;
text-align: right;
padding: 5px 5px 10px 10px;
margin-top: 20px;
}
.good{
    color: #070211;

font-family: Merriweather;
font-size: 48px;
font-style: normal;
font-weight: 900;
line-height: normal;
text-transform: capitalize;
}
.bad{
    color: rgba(7, 2, 17, 0.897);

font-family: Inter;
font-size: 10px;
font-style: normal;
font-weight: 300;
line-height: 32px;
width: 500px;
}
.subscribe{
    width: 900px;
    height: 350px;
    background-color: #ab7373;
    margin: auto;
    text-align: center;

}
.image1{
    width: 300px;
height: 150px;
margin: 0 auto;
text-align: center;
border-radius: 15px;

}
.lest{
    color: #070211;

text-align: center;
font-family: Merriweather;
font-size: 20px;
font-style: normal;
font-weight: 900;
line-height: normal;
text-transform: capitalize;
}
.post{
    color: rgba(7, 2, 17, 0.60);

text-align: center;
font-family: Inter;
font-size: 7px;
font-style: normal;
font-weight: 400;
line-height: 32px;
}







    
    


.field{
    color: #f0eaea;
    border-radius: 40px ;
    padding: 15px;
    font-size: 15px;
   /* background-color: #780707;*/
    width: 250px;
    height: 40px;
    margin: auto;
/*background: #F00;*/
}
.btn-2{
    border-radius: 0px 70px 70px 0px;
background: #F00;
}
/* footer style*/
footer{
    display: flex;
    background: #6f6388;
    width: 800px;
height: 400px;
flex-shrink: 0;
margin: 40px 40px 150px 250px ;
    
}
.footer-column{
    width: 70%;
    margin: 3px 10px;
  
   
}
.section-titel{
    color: #FFF;

font-family: Inter;
font-size: 10px;
font-style: normal;
font-weight: 100;
line-height: 10px;
}
.social-links{
    width: 200px;
    height: 60px;
    margin: 50px 50px 50px 50px;
    text-align: center;
}
.first-icon{
    width: 30px;
height: 20px;
flex-shrink: 0;
}
.second-icon{
    width: 30px;
height: 20px;
flex-shrink: 0;
}
.third-icon{
    width: 30px;
    height: 20px;
    flex-shrink: 0;
}
.hr{
    width: 150px;
height: 1px;
margin-right: 70px;
margin-left: 80px;
gap: 10%;

}
.section-description{
   color: #ebe5e5;
   gap: 0%;

}
.A{
    margin-top: 290px ;
    margin-left: 20px;
    color: #ebe1e1;
    margin-right:6 ;
    color: #FFF;

font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;


}
.class{
    color: #FFF;

    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

}
.just{
    text-align: flex;
    justify-content: space-between;
}
.tul{
    justify-content: space-between;
}