/* header related style */
.header{
    width: 1320px;
height: 600px;
flex-shrink: 0;

}
.header{
    margin: 40px 0px;
    position: relative;
    border-radius: 10px;
    background-image: url('/image/Banner\ Image.png');
   



}
.banner-titel{
    color: #FFF;
text-align: center;
font-family: Merriweather;
font-size: 32px;
font-weight: 400;
padding-top: 180px;
background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);



}
.banner-ground{
    color: #FFF;
text-align: center;
font-family: ;
font-size: 72px;
font-weight: 800;
line-height: 95px;
padding: 5px;
background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);


}